
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #1b1b1e;
    --grey-dark: #27272a;
    --grey-light: #36363b;
    --white: #ffffff;
    --blue-light: #007bff;
    --blue-dark: #0056b3;
    --red-light: rgba(227, 38, 82, 255);
    --red_dark: rgba(227, 38, 82, 10);
    --green: rgba(0, 255, 255, 0.2);
}

html{
    font-size: 62.5%;
    min-width: 100vw;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

.hero{
    height: 100vh;
    display: flex;
    gap: 5rem;
    padding: 5rem 0;
}

@media screen and (max-width: 1206px){
    .hero{
        flex-direction: column;
    }
    .hero_title h2{
        text-align: center;    
    }

}


.hero_title h2{
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 5rem;
}

.hero_title p{
    font-size: 1.8rem;
    opacity: 0.5;
    font-weight: 600;
}

.hero_title button{
    margin-top: 7rem;
    border: none;
    font-size: 1.6rem;
    background-color: #1b1b1e;
    color: #ffff;
    padding: 1rem 2rem;
    border-radius: 0.7rem;
    cursor: pointer;
}

.hero_img{
    position: relative;
}

.hero_img div{
    position: absolute;
    overflow: hidden;
}

.hero_img div img{
    width: 23rem;
    height: 21rem;
    transition: all 0.4s;
}

.hero_img div:first-child{
    left: 14rem;
    top: 27rem;
}

.hero_img div:nth-child(2) {
    left: 34rem;
    top: 12rem;
    z-index: 10;
}

.hero_img div:nth-child(3) {
    left: 21rem;
}

.hero_img div img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1206px){
    .btn-mobile-nav {
        border: none;
        background: none;
        cursor: pointer;
        display: none;
    }
    
    .icon-mobile-nav {
        height: 4.8rem;
        width: 4.8rem;
        color: #ffff;
    }
      
    .icon-mobile-nav[name="close-outline"] {
        display: none;
    } 

    
}

.cards-title {
    padding: 3rem 0;
    font-size: 3rem;
    font-weight: 800;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 5rem;
}

.card{
    display: grid;
    width: calc(80vw/3);
    cursor: pointer;
}


.card img {
    backdrop-filter: blur(20px);
}

.card div{
    display: flex;
    justify-content: space-between;
}

.card div p:first-child{
    color: black;
    font-weight: 500;
}

.teacher, .price {
    font-size: 1.4rem;
    font-weight: 500;
    color: grey;
}

.card div div p:first-child{
    color: grey;
}

.categorie{
    background-color: #00FFFF;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1px 5px;
    border-radius: 0.5rem;
}

@media screen and (max-width: 1206px){
    .cards-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 3rem;
    }

    .card{
        display: flex;
        flex-direction: column;
        width: calc(80vw/2);
        border: none;
        cursor: pointer;
    }
}

@media screen and (max-width: 705px){
    .cards-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        gap: 3rem;
    }

    .card{
        display: flex;
        flex-direction: column;
        width: 80vw;
        justify-content: center;
        cursor: pointer;
        border: 0;
    }
}